*, ::before, ::after{
    box-sizing: border-box;
}
body{
    background-color: gray;
}
header{
    max-width: 1200px;
    height: min-content;
    margin: 0 auto;
    text-align: center;
    background-color: antiquewhite;
}
h1{
    margin-bottom: 0;
    padding: 10px;
    background-color: white;
}
#generator{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: gray;
    color: white;
    padding:  0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#generator h2{
    text-shadow: 1px 1px 3px black;
    padding: 0 20px;
}
header button{
    margin: 5px;
}

